.App {
  max-width: 760px;
  padding: 42px 24px;
  background: white;
  border-radius: 8px;
  border: 1px solid #dde4e7;
  -webkit-box-shadow: 0 12px 30px -20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 12px 30px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 12px 30px -20px rgba(0, 0, 0, 0.5);
  color: #444;
}
